{% extends "layout.njk" %}

{% block head %}
    <title>Eternal Streaming: Home</title>
{% endblock %}

{% block content %}

    <div class="wrapper" id="wrapper">
        <h2>Library</h2>
            <input type="text" id="search" placeholder="Search">
            <span class="material-icons">search</span>          
        <ul>
            <li class="filters active" data-value="all" id="all">All</li>
            <li class="filters" data-value="netflix" id="netflix">Netflix</li>
            <li class="filters" data-value="primevideo" id="primevideo">Prime Video</li>
            <li class="filters" data-value="hbogo" id="hbogo">HBO Go</li>
        </ul>

    </div>

    <section class="cards"></section>

    <script src="scripts.js"></script>

{% endblock %}