@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
    --color-red: #ca1515;
    --color-yellow: #e3cc00;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #e9e9e9;
}

header {
    padding: 20px;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    position: relative;
}

.navbar img { 
    left: 0;
    width: 120px;
    height: 90px;
    margin-right: 10%;
}

.navbar a {
    position: absolute;
    font-size: 26px;
    line-height: 36px;
    top: 35%;
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.wrapper h2 {
    text-transform: uppercase;
    color: #111111;
    font-weight: bold;
    padding-top: 20px;
}

.wrapper h2:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 70px;
    background: var(--color-red);
    content: "";
}

.wrapper span {
    position: absolute;
    left: 30.5%;
    margin-top: 20px;
}

.wrapper input {
    width: 20%;
    position: absolute;
    left: 30%;
    margin-top: 10px;
    padding: 10px 0 10px 50px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
    outline: none;
}

.wrapper ul {
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    position: absolute;
    right: 0;
    padding-top: 20px;
}

.wrapper ul li {
    list-style: none;
    display: inline-block; 
    margin: 0 30px;
    right: 0;
    cursor: pointer;
}

.filters.active {
    border-bottom: 2px solid var(--color-red); 
}

/*=== CARDS ===*/

.cards {
    max-width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.card {
    margin-bottom: 30px;
}

.card__image-container img {
    width: 100%;
    height:300px;
    position: relative;
    cursor: pointer;
}

.card__image-container img:hover {
    border: 2px solid var(--color-yellow);

}

.card__content {
    padding-top: 18px;
    text-align: center;
}

.card__content p {
    font-size: 14px;
}

.card__streams {
    padding-top: 10px;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5px;
    margin: 0 auto;
}

.card__streams img {
    width: 100%;
    cursor: pointer;
}

.card__streams img:hover {
    border: 2px solid red;
} 

/*=== CAROUSEL ===*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
    height: 700px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
